<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DotJEM.Json.Storage.Properties.Settings.jsonConnectionString"
            connectionString="Data Source=WORKSTATION\DEV;Initial Catalog=json;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>